description = "Search layout"

[staticPage]
useContent = 1
default = 1

[staticMenu]
code = "sidmeny"

[staticBreadcrumbs]

[advanced_search]
==
<!doctype html>
<html lang="en">
    <head>
        {% partial 'layout/head' %}
    </head>
    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
        <div class="wrapper">
            {% partial 'site/sidebar' %}
            <div id="content" class="px-3 px-md-4">
                {% partial 'site/topbar' %}
                <h3 class="mb-4">
                    {{ this.page.title }}
                </h3>
                <div class="row">
                    <div class="col-sm-7">
                        {% component 'advanced_search' %}
                    </div>
                    <div class="col-sm-5 d-none d-sm-block">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Om sökning i herrgårdsdatabasen</h5>
                                <p class="card-text">{% page %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% partial 'layout/js' %}
    </body>
</html>